# Database Connection
MONGODB_URI=mongodb://localhost:27017/minislack

# Server Port
PORT=5001

# JWT Secrets
JWT_ACCESS_SECRET=your_super_secret_access_key_123!
JWT_REFRESH_SECRET=your_super_secret_refresh_key_456!
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
